.skill {
    padding: 0 0 50px 0;
    position: relative;
    background-color: black;

}

.skill-bx {
    background: #151515;
    border-radius: 64px;
    text-align: center;
    padding: 60px 50px;
    margin-top: -60px;
    background: linear-gradient(90.21deg, rgba(170, 54, 124, 0.5) -5.91%, rgba(74, 47, 189, 0.5) 111.58%);

}

.skill h2 {
    font-size: 60px;
    font-weight: 700;
}

.skill p {
    color: #b8b8b8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    margin: 14px 0 75px 0;
}

.container {
    width: 80%;
    margin: 0 auto;


}

.container .item img {
    width: 60px;
    margin: 0 auto 15px auto;
    text-align: center;

}


.container .item img:hover {

    transform: scale(1.5);

}

.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.flex-container .item {
    margin-bottom: 25px;
    flex: 1 23%;
}


@media screen and (max-width:768px) {
    .skill-bx {
        padding: 60px 10px;
    }
}